
@{
    ViewBag.Title = "Information about an user";
}
<br/><br /><br /><br /><br />
<h3>Information about an user</h3>
<ul >
    <li>Name: @ViewBag.KlIma</li>
    <li>Last name: @ViewBag.KlSURNam</li>
    <li>Place of inhabitation: @ViewBag.KLAdr</li>
    <li>Serial number of passport: @ViewBag.KlPasNum</li>
    <li>Telephone: @ViewBag.KlTelNum</li>
    <li>Email: @ViewBag.Email</li>
    </ul>
